/* Reset some default styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #fff;
}

/* Container styles */
.container {
    max-width: 600px;
    margin: 0 auto 10px;
    padding: 20px;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Header styles */
h1 {
    text-align: center;
}

/* Input styles */
input[type="range"] {
    width: 100%;
    margin: 5px 0;
    background: linear-gradient(to right, #ff0000, #00ff00, #0000ff);
}

/* Button styles */
button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #0078d4;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* LED strip styles */
.led-strip {
    display: flex;
    justify-content: center;
}

.led {
    width: 20px;
    height: 20px;
    margin: 0 5px;
    border-radius: 50%;
}

/* Dropdown */
select {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    appearance: none;
    cursor: pointer;
}

select::-ms-expand {
    display: none;
}

option {
    background-color: #444;
    color: #fff;
    padding: 10px;
    cursor: pointer;
}

select:hover,
select:focus {
    background-color: #555;
}

option:hover {
    background-color: #555;
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
    body, html {
        background-color: #121212;
        color: #fff;
    }

    .container {
        background-color: #333;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }

    input[type="range"] {
        background: linear-gradient(to right, #ff0000, #00ff00, #0000ff);
    }
}